body {
  background-image: linear-gradient(to right, #09051b, #0d033d);
  background-color: #0d033d;
  color: #fff;
}

h4 {
  font-family: "Raleway", Sans-Serif;
  font-size: 44px;
}

span {
  background: -webkit-linear-gradient(#e0341d, rgb(253, 111, 111));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  padding: 30px;
  font-family: "Open Sans", Sans-Serif;
  font-size: 15px;
}

.container {
  margin-top: 7%;
  margin-left: auto;
  border: 3px dashed rgb(133, 133, 133);
  border-radius: 20px;
  background-color: #12093d;
}

.row {
  margin-bottom: 0px;
}

#projectscontainer {
  background-image: linear-gradient(to bottom right, #1d0d69, #29158f);
  color: #fff;
}

.portfolioitem {
  margin: 4%;
  padding: 2px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid 2px #3d24bb;
}
